.main-layout {
    display: flex;
    gap: 8px;
}

.active li {
    background-color: gainsboro;
}

.main-layout .list-tab {
    flex: 0.3;
    border-right: 1px solid black;
}

.main-layout .list-tab ul {
    list-style: none;
}

.main-layout .list-tab ul li {
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.main-layout .list-tab ul li:hover {
    background-color: gainsboro;
}

.main-layout .main-content {
    flex: 0.7;
}

.form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}